<html lang="en">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/resources/css/style.css">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <nav>
        <div class="row navbar text-center">
          <a class="col" href="/prefs"><h3>Preferences</h3></a>
          <a class="col" href="/tasks"><h3>Tasks</h3></a>
          <a class="col" href="/events"><h3>Events</h3></a>
          <a class="col" href="/schedule"><h3>Schedule</h3></a>
        </div>
      </nav>
      <title>Dyanamic Scheduler</title>
    </head>