<%- include('../partials/headerpublic'); %>
</head>
<body>
    <div class='container text-center' >
        <h1 class='text-center' style='margin: 30px;'>Privacy and Terms of Use</h1>
        &nbsp;
        &nbsp;
        <p>As user accounts are for demonstration purposes only, at this point user information is neither encrypted nor private.  By using this app, you assume complete responsibility for any damages caused by submiting sensitive personal information on the app.</p>
        <div>
            <a href="/">...return to login.</a>
        </div>
        
    </div>
    
    <%- include('../partials/footer'); %>
